{{ form_start(form) }}

<div class="row form-group panel panel-heading">
    <div class="row col-md-12">
        <div  class="row col-md-1 label">
            {{ form_label(form.name) }}
        </div>
        <div  class="col-md-3">
            {{ form_errors(form.name) }}
            {{ form_help(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div  class="col-md-1 col-md-offset-1 label">
            {{ form_label(form.alias) }}
        </div>
        <div  class="col-md-1">
            {{ form_errors(form.alias) }}
            {{ form_help(form.alias) }}
            {{ form_widget(form.alias) }}
        </div>
        <div  class="col-md-1 label rightAlign" {{ nonDisplay ? 'style="display:none"' }}>
            {{ form_label(form.billDefault) }}
        </div>
        <div  class="col-md-1" {{ nonDisplay ? 'hidden' }}>
            {{ form_errors(form.billDefault) }}
            {{ form_help(form.billDefault) }}
            {{ form_widget(form.billDefault) }}
        </div>
    </div>
</div>

{{ include('errors/errors.html.twig') }}

<div id="actions" class="row">
    <div  class="col-md-2">
        <button type="submit" class="btn  btn-block btn-sm btn-success">Enregistrer</button>
    </div>
{{ form_end(form) }}