{% extends 'base.html.twig' %}

{#{% block title %}Application{% endblock %}#}

{#{% block body %}#}
    {#<h1>Application</h1>#}

    {#<table class="table">#}
        {#<tbody>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<td>{{ application.id }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Name</th>#}
                {#<td>{{ application.name }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>RD_ref</th>#}
                {#<td>{{ application.RDRef }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Alias</th>#}
                {#<td>{{ application.alias }}</td>#}
            {#</tr>#}
        {#</tbody>#}
    {#</table>#}

    {#<a href="{{ path('application_index') }}">back to list</a>#}

    {#<a href="{{ path('application_edit', {'id': application.id}) }}">edit</a>#}

    {#{{ include('application/_delete_form.html.twig') }}#}
{#{% endblock %}#}