{#{{ form_start(form) }}#}

{#<div class="row form-group panel panel-heading">#}
    {#<div class="row col-md-12">#}
        {#<div  class="row col-md-1 label">#}
            {#{{ form_label(form.name) }}#}
        {#</div>#}
        {#<div  class="col-md-3">#}
            {#{{ form_errors(form.name) }}#}
            {#{{ form_help(form.name) }}#}
            {#{{ form_widget(form.name) }}#}
        {#</div>#}
        {#<div  class="row col-md-1 col-md-offset-1 label">#}
            {#{{ form_label(form.activityGroup) }}#}
        {#</div>#}
        {#<div  class="col-md-2">#}
            {#{{ form_errors(form.activityGroup) }}#}
            {#{{ form_help(form.activityGroup) }}#}
            {#{{ form_widget(form.activityGroup) }}#}
        {#</div>#}
        {#<div  class="col-md-2 col-md-offset-1 label">#}
            {#{{ form_label(form.rate) }}#}
        {#</div>#}
        {#<div  class="col-md-1">#}
            {#{{ form_errors(form.rate) }}#}
            {#{{ form_help(form.rate) }}#}
            {#{{ form_widget(form.rate) }}#}
        {#</div>#}
    {#</div>#}
    {#<div class="row col-md-12">#}
        {#<div  class="row col-md-1 label">#}
            {#{{ form_label(form.profil) }}#}
        {#</div>#}
        {#<div  class="col-md-3">#}
            {#{{ form_errors(form.profil) }}#}
            {#{{ form_help(form.profil) }}#}
            {#{{ form_widget(form.profil) }}#}
        {#</div>#}
        {#<div  class="col-md-2 col-md-offset-1 label">#}
            {#{{ form_label(form.minHours) }}#}
        {#</div>#}
        {#<div  class="col-md-1">#}
            {#{{ form_errors(form.minHours) }}#}
            {#{{ form_help(form.minHours) }}#}
            {#{{ form_widget(form.minHours) }}#}
        {#</div>#}
        {#<div  class="col-md-1 label">#}
            {#{{ form_label(form.serialNumber) }}#}
        {#</div>#}
        {#<div  class="col-md-1">#}
            {#{{ form_errors(form.serialNumber) }}#}
            {#{{ form_help(form.serialNumber) }}#}
            {#{{ form_widget(form.serialNumber) }}#}
        {#</div>#}
        {#<div  class="col-md-2">#}
            {#<button type="submit" class="btn  btn-block btn-sm btn-success">Enregistrer</button>#}
        {#</div>#}
    {#</div>#}
{#</div>#}

{#{{ form_end(form) }}#}
