{% extends 'base.html.twig' %}
{% block title %}{{ titleClient }}{% endblock %}

{% block body %}
    <div class="container">
    <div class="col-md-12 text-center">
        <h2>{{ client.name }}</h2>
    </div>

    <div class="form-group">
        {{ include('client/_form.html.twig') }}

            <div class=" col-md-2">
                <a href="{{ path('client_index') }}" class="btn btn-block btn-sm btn-default">Retour</a>
            </div>
        {%  if not undeletableClient %}
            <div class="col-md-2">
                {{ include('client/_delete_form.html.twig') }}
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}