{% extends 'base.html.twig' %}

{#{% block title %}Parameter{% endblock %}#}

{#{% block body %}#}
    {#<h1>Parameter</h1>#}

    {#<table class="table">#}
        {#<tbody>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<td>{{ parameter.id }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>ParamKey</th>#}
                {#<td>{{ parameter.paramKey }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>ParamValue</th>#}
                {#<td>{{ parameter.paramValue }}</td>#}
            {#</tr>#}
        {#</tbody>#}
    {#</table>#}

    {#<a href="{{ path('parameter_index') }}">back to list</a>#}

    {#<a href="{{ path('parameter_edit', {'id': parameter.id}) }}">edit</a>#}

    {#{{ include('parameter/_delete_form.html.twig') }}#}
{#{% endblock %}#}
